<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F6QHL6V5W0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F6QHL6V5W0');
    </script>
    <title>shoehunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-O4O9C2aBRnMvK8z5EQrt+OiBS2zF8kB8PyGqZJqKzQ7l4RcwhjT7tT7G+fsSQWUqfqFjGS8i0i9gYQU1Ouj6Q==" crossorigin="anonymous" />


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .font-kumbh-sans {
        font-family: 'Kumbh Sans', sans-serif;
      }
    </style>
  </head>
  <body class="font-kumbh-sans italic">
    <main>
      <!-- Navigation Bar -->
      <nav class="flex p-4 mx-20 pb-12 mt-6 pr-0 pl-0 border-b border-dark-grayish-blue">
        <div class="container mx-auto flex items-center">
          <!-- Logo -->
          <a href="/" class="text-black-lightbox font-bold text-4xl">shoehunt</a>
        </div>
        <div class="relative inline-block text-left mt-4">
          <div>
            <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-orange px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-orange hover:bg-pale-orange" id="menu-button" aria-expanded="true" aria-haspopup="true">
              Filters
              <svg class="-mr-1 h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a href="/nike" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Nike</a>
              <a href="/jdsport" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">JD Sports</a>
            </div>
          </div>
        </div>
       
      </nav>
      
      <!-- Main Content -->
      <%= yield %>

      <!-- Footer -->
      <footer class="mt-20 py-8 text-center py-4 text-white font-bold bg-orange">
        <p>&copy; shoehunt 2024. All rights reserved.</p>
      </footer>

    </main>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const menuButton = document.getElementById('menu-button');
      const dropdownMenu = document.querySelector('.absolute');

      // Hide the dropdown initially
      dropdownMenu.classList.add('hidden');

      menuButton.addEventListener('click', function () {
        dropdownMenu.classList.toggle('hidden');
      });

      // Close the dropdown when clicking outside
      document.addEventListener('click', function (event) {
        const isClickInside = menuButton.contains(event.target) || dropdownMenu.contains(event.target);

        if (!isClickInside) {
          dropdownMenu.classList.add('hidden');
        }
      });
    });
  </script>
</html>
